.cart {
    position: sticky;
    top: 0;
    padding: 20px;
}

.luckyCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-bottom: 0px;
}

.luckyCart img {
    height: 50px;
    width: 50px;
    margin-right: 8px;
    border-radius: 20px;
}

.luckyCart h3 {
    margin-right: 4px;

}

.luckybox {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaaaaa;
    text-align: right;
}

.luckybox {
    margin-top: 0px;
}

.btn-chose {
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    height: 30px;
    border-radius: 0px 0px 8px 8px;
    /* position: absolute;
    bottom: 0px; */

}

.btn-chose:hover {
    background-color: orange;
}

.btn-select {
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    height: 30px;
    border-radius: 0px 0px 8px 8px;
    margin-top: 10px;
    /* position: absolute;
    bottom: 0px; */

}

.btn-select:hover {
    background-color: orange;
}